{
  "branches": ["main", "develop"],
  "repositoryUrl": "https://github.com/MWKKA/brief-pipeline-data-engineering",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}